In [1]:
import pandas as pd
import numpy as np

In [8]:
df = pd.read_csv("data/experiment_2018-06-21.21:26:55.csv",
                sep=',',
                names = ["id","Vertex","Edge","Tarjan_T", "Tarjan_S",
                        "N_O T","N_O S","N_v1 T","N_v1 S","N_v2 T","N_v2 S",
                        "P_v1 T","P_v1 S","P_v2 T","P_v2 S","P_v3 T","P_v3 S"])

df.head()

,id,Vertex,Edge,Tarjan_T,Tarjan_S,N_O T,N_O S,N_v1 T,N_v1 S,N_v2 T,N_v2 S,P_v1 T,P_v1 S,P_v2 T,P_v2 S,P_v3 T,P_v3 S
0,0,21,35,0.433517,0.246094,0.056608,0.492188,0.054158,0.492188,0.061181,0.511719,0.051779,0.492188,0.029114,0.085938,2.639600,0.410156
1,1,37,1148,17.021600,0.433594,1.679420,0.867188,0.514607,0.867188,0.366634,0.886719,0.389386,0.867188,0.221920,0.148438,0.860610,0.722656
2,2,20,338,1.848410,0.234375,0.134004,0.468750,0.128395,0.468750,0.100681,0.488281,0.176127,0.468750,0.073780,0.082031,0.592213,0.390625
3,3,28,298,2.469670,0.328125,0.084076,0.656250,0.079546,0.656250,0.068574,0.675781,0.131429,0.656250,0.083550,0.113281,0.277286,0.546875
4,4,32,389,5.459020,0.375000,0.372502,0.750000,0.225722,0.750000,0.147996,0.769531,0.153468,0.750000,0.106835,0.128906,1.839920,0.625000